<div id="food-page" class="page container">
  <div class="row">
    <div class="col-md-7">
      <h2>
        <%= @food.dish_name %>
        <br />
        <small> At 
          <%= link_to "#{@restaurant.name}", controller: "restaurant", 
            action: "show", id: @restaurant.id %>
        </small>
      </h2>
      <div class="stars"></div>
    </div>
    <% if !@food.price.blank? %>
      <div class="col-md-5">
        <h1 class="price">
          <%= @food.price %>
        </h1>
      </div>
    <% end %>
  </div>

  <% #Food properties %>
  <% if @food.description %>
    <div class="row">
      <div class="col-md-8">
        <%=@food.description%>
      </div>

    </div>
  <% end %>

  <div class="food-images row">
    <% if @pictures.length > 0 %>
      <h1>Photos</h1>
      <div class="row image-tile-row">
        <% for photo in @pictures %>
          <div class="col-md-2">
            <%= image_tag 'food_items/' + photo.file_name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @food.size %>
    <div class="row">
      <div class="col-md-2">
        <strong>Size</strong>
      </div>
      <div class="col-md-4">
        <%= @food.size %>
      </div>
    </div>
  <% end %>

  <% if @food.calories %>
    <div class="col-md-2">
      <strong>Calories</strong>
    </div>
    <div class="col-md-4">
      <%= @food.calories %> kCal
    </div>
  <% end %>



<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addDishModal">
  Add a review!
</button>

<!-- Modal  Used to add a review to a dish-->
<div class="modal fade" id="addDishModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <form id="dishForm" action="/food/addRating" method="post" enctype="multipart/form-data">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a Review to <%=@food.dish_name %></h4>
      </div>
      <div class="modal-body">
        Please fill out the following form to add your review: </br>
          <input type="hidden" name="foodId" value=<%=@food.id %> >
          </br>
            Rating:
                  <select id="ratingDropdown" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected="selected">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </br>

            Review (optional): <textarea id="reviewDish" name="review" rows="3" cols="75"></textarea></br>
            Picture (optional): <input id="fileDish" type="file" name="image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="Save Changes" class="btn btn-primary" id="addDish" data-restaurantid=<%=Restaurant.find(@food.restaurant_id).id %>>
      </div>
    </div>
  </div>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          </form>
</div>


<h2>Average Rating: <%= @food.rating %> </h2>


  <div class="reviews">
    <h3>Reviews (<%= @ratings.count %>)</h3>
    <% for review in @ratings %>
      <div class="review row padded">
        <div class="col-md-1">
          <%= image_tag("test.jpg", alt: "test", height: "100px", width: "100px") %>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <% for star in 1..review.score %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% for star in review.score+1..5 %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
          <% if user = User.find_by_id(review.user_id) %>
            <h4>
              Review by <%= link_to "#{user.first_name} #{user.last_name}", 
                {controller: "user", action: "profile", id: user.id } %>
            </h4>
          <% end %>
          <div>"<%= review.comment %>"</div>
        </div>
      </div>
    <% end %>
  </div>

</div>
