<div id="food-page" class="page container">
  <div class="row">
    <div class="col-md-7">
      <h2>
        <%= @food.dish_name %>
        <br />
        <small> At 
          <%= link_to "#{@restaurant.name}", controller: "restaurant", 
            action: "show", id: @restaurant.id %>
        </small>
      </h2>
      <div class="stars"></div>
    </div>
    <% if !@food.price.blank? %>
      <div class="col-md-5">
        <h1 class="price">
          $<%= @food.price %>
        </h1>
      </div>
    <% end %>
  </div>

  <% #Food properties %>
  <% if @food.description %>
    <div class="row">
      <div class="col-md-8">
        <%=@food.description%>
      </div>
    </div>
  <% end %>

  <div class="food-images row">
    <% if @pictures.length > 0 %>
      <h1>Photos</h1>
      <div class="row image-tile-row">
        <% for photo in @pictures %>
          <div class="col-md-2">
            <%= img_tag photo.file_name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @food.size %>
    <div class="row">
      <div class="col-md-2">
        <strong>Size</strong>
      </div>
      <div class="col-md-4">
        <%= @food.size %>
      </div>
    </div>
  <% end %>

  <% if @food.calories %>
    <div class="col-md-2">
      <strong>Calories</strong>
    </div>
    <div class="col-md-4">
      <%= @food.calories %> kCal
    </div>
  <% end %>

  <div class="reviews">
    <h3>Reviews (<%= @ratings.count %>)</h3>
    <% for review in @ratings %>
      <div class="review row padded">
        <div class="col-md-1">
          <%= image_tag("test.jpg", alt: "test", height: "100px", width: "100px") %>
        </div>
        <div class="col-md-11">
          <% for star in 1..review.score %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% for star in review.score+1..5 %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
          <% if user = User.find_by_id(review.user_id) %>
            <h4>
              Review by <%= link_to "#{user.first_name} #{user.last_name}", 
                {controller: "user", action: "profile", id: user.id } %>
            </h4>
          <% end %>
          <p>"<%= review.comment %>"</p>
        </div>
      </div>
    <% end %>
  </div>

</div>