<div id="food-page" class="container">
 <h1 style="text-align:center;"><%=@food.dish_name %></h1>
 <div class="stars"></div>

  <div class="info">
  <table align="center">
  <tr>
  <td>
    <table align="right">
      <tr><td><h1>Information</h1></td></tr>
    <% if @food.restaurant_id%>
      <tr>
<!--       <div class="col-md-2"> -->
        <td><b>From</b></td>
      <!-- </div> -->
<!--       <div class="col-md-4"> -->
        <td>
        <%=Restaurant.find(@food.restaurant_id).name %>
        </td>
      <!-- </div> -->
      </tr>
    <% end %>
    <% if @food.price %>
      <tr>
      <!-- <div class="col-md-2"> -->
        <td>
        <h3>Price</h3>
        </td>
      <!-- </div> -->
      <!-- <div class="col-md-4"> -->
        <td>
        <p><%= @food.price %></p>
        </td>
      <!-- </div> -->
      </tr>
    <% end %>
    <% if @food.size %>
      <tr>
      <!-- <div class="col-md-2"> -->
        <td>
        <h3>Size</h3>
        </td>
      <!-- </div> -->
      <!-- <div class="col-md-4"> -->
      <td>
        <p><%= @food.size %></p>
        </td>
      </div>
      </tr>
    <% end %>
    <% if @food.calories %>
    <tr>
      <!-- <div class="col-md-2"> -->
      <td>
        <div class="picture">
          <p><img src="/assets/food_items/<%=picture.file_name%>"></p>
        </div>
        <h3>Calories</h3>
        </td>
      <!-- </div> -->
      <!-- <div class="col-md-4"> -->
      <td>
        <p><%= @food.calories %></p>
        </td>
      <!-- </div> -->
      </tr>
    <% end %>
    <% if @food.nutrition %>
    <tr>
      <!-- <div class="col-md-2"> -->
        <td>
        <h3>Nutrition</h3>
        </td>
      <!-- </div> -->
      <!-- <div class="col-md-4"> -->
      <td>
        <p><%= @food.nutrition %></p>
      </td>
      <!-- </div> -->
      </tr>
    <% end %>
    <% if @food.presentation %>
    <tr>
      <!-- <div class="col-md-2"> -->
      <td>
        <h3>Presentation</h3>
        </td>
      <!-- </div> -->
      <!-- <div class="col-md-4"> -->
      <td>
        <p><%= @food.presentation %></p>
        </td>
      <!-- </div> -->
      </tr>
    <% end %>
    </table>
</td>
<td>

    <table align="left">
      <div class="description">
      <%if @food.description %>
      <tr><td><h1>Description</h1></td></tr>
      <!-- <div class="col-md-4"> -->
      <td>
        <p><%=@food.description%></p>
        </td>
      <!-- </div> -->
      <%end%>
      </div>
    </table>
    </td>
  </tr>
  </table>

  <div class="food-images">
  <%if @pictures.length > 0 %>
    <h1>Photos</h1>
    <div class="row image-tile-row">
      <% for photo in @pictures%>
        <div class="col-md-2">
          <p><img src="/assets/images/<%=photo.file_name%>"></p>
        </div>
      <% end %>
    </div>
    <%end%>
  </div>


  <div class="reviews">
  <%if @num_reviews > 0%>
    <h1>Reviews</h1>
    <% for review in @ratings %>
      <div class="review">
          <p>
            <% for star in 1..review.score %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% for star in review.score+1..5 %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          </p>
          <% if user = User.find_by_id(review.user_id) %>
            <h3>
              Review by <%= link_to "#{user.first_name} #{user.last_name}", 
                {controller: "user", action: "profile", id: user.id } %>
            </h3>
          <% end %>
          <p>"<%= review.comment %>"</p>
        </div>
      </div>
    <% end %>
    <%end%>
  </div>

</div>
