<!--
This form is to edit the selected dishes the admin chose in the admin page. This form creates a table form full of the dishes he or she selected,
all populated by the current values for their names, descriptions, prices, and if they are currently on the menu. The form below, as well as the javascript in
restaurant.js, allows the admin to click the header of one of the columns to toggle all currently_on_menu attributes of all dishes, click a single on_menu attribute to toggle it, and change any field they wish. If the user submits improper data (all dishes must have names and if they ahve a price, it must be a # > 0), then
the impropr fields are highlighted red until the user clicks on it again and the submit is canceled.
-->

 <form id="editDishesForm" action="/restaurant/updateMenu" method="post">

	<table>
		<tr>
			<th>Dish Name</th>
			<th>Description</th>
			<th>Price ($)</th>
			<th id="toggleAll">Currently On Menu (click here to toggle all)</th>
		</tr>

		<% for food in @foods_to_edit %>

		<tr>
	        <input type="hidden" name="foodIds[]" value=<%= food.id %> >
			<td class="dishNameFields"><input id="dishName<%= food.id %>" name="dish_names[]" value=<%= food.dish_name %>></td>
			<td><input id="dishDescription<%= food.id %>" size="50" name="dish_descriptions[]" value='<%= food.description %>'></td>
			<td class="dishPriceFields"><input id="dishPrice<%= food.id %>" name="dish_prices[]" value=<%= food.price[1..food.price.length] %>></td>
			<td class="boolColumn"><input id="dishBoolean<%= food.id %>" name="dish_booleans[]" readonly="readonly" value=<%= food.on_menu %>></td>
		</tr>
		<% end %>
	</table>
	   <input type="submit" value="Save Changes" class="btn btn-primary">

	   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	   <input type="hidden" name="restaurantId" value=<%= @restaurantId %> >

</form>
</br>
<div id="errorDiv"></div>



