<div id="restaurant-page" class="page container">
 <h1><%=@restaurant.name %></h1>

  <div class="row padded">
    <div class="col-md-7 no-overflow hero">
      <%= image_tag("restaurants/" + @hero_image, alt: "Hero image of #{@restaurant.name}") %>
    </div>

    <div class="col-md-5">
      <% if @hours %>
      <div class="row padded">
        <div class="col-md-2 text-right">
          <strong>Hours</strong>
        </div>
        <div class="hours col-md-8">
          <% @hours.each do |time| %>
            <strong><%= time[0] %></strong>: 
            <span><%= time[1] %></span><br />
          <% end %>
        </div>
      </div>
      <% end %>
    
      <% if @address %>
        <div class="row padded">
          <div class="col-md-2 text-right">
            <strong>Address</strong>
          </div>
          <div class="col-md-8">
            <%= @address %>
          </div>
        </div>
      <% end %>

      <div class="row padded">
        <div class="col-md-2 text-right">
          <strong>Menu</strong>
        </div>
        <div class="col-md-8">
          <%= link_to "See Full Menu >>", {controller: "restaurant", action: "menu", id: @restaurant.id } %>
        </div>
      </div>
    </div>

  </div>

  <div class="top-rated padded">
    <h3>Top Rated Items
    </h3>
    <div class="row image-tile-row">
      <% numToDisplay = (@foods_by_rating.length < 4) ? @foods_by_rating.length : 4 %>
      <% for i in 0..numToDisplay-1 %>
        <div class="col-md-3">
          <%= render :partial => "shared/dish_square", :locals => {:dish => @foods_by_rating[i]} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="reviews padded">
    <h3>Reviews (<%= @num_reviews %>)</h3>

    <% for slice in @ratings.each_slice(2) %>
      <div class="review row">

        <% for review in slice %>
          <div class="col-md-1 no-overflow">
            <%= image_tag("test.jpg", :alt => "test", height: "75px", width: "75px") %>
            <% if user = User.find_by_id(review.user_id) %>
              <small class="padded">
                <%= link_to "#{user.first_name} #{user.last_name}", 
                {controller: "user", action: "profile", id: user.id } %>
              </small>
            <% end %>
          </div>

          <div class="col-md-4">
            <a href="../../food/index/<%=review.ratable.id%>">
              <h4><%= review.ratable.dish_name %></h4>
            </a>
            <p>
              <% for star in 1..review.score %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% for star in review.score+1..5 %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            </p>
            
            <p>"<%= review.comment %>"</p>
          </div>
        <% end %>

      </div>
    <% end %>

    <% if @ratings.count == 0 %>
      <div class="padded">
        <h4 class="padded-side">No Ratings Yet!</h4>
      </div>
    <% end %>
  </div>

</div>