<div id="restaurant-page" class="container">
 <h1><%=@restaurant.name %></h1>
 <div class="stars"></div>

  <div class="hero">
    <%= image_tag(@hero_image, alt: "Hero image of #{@restaurant.name}") %>
  </div>

  <div class="row info">
    <% if @restaurant.hours %>
      <div class="col-md-2">
        <h3>Hours</h3>
      </div>
      <div class="col-md-4">
        <h3><%= @restaurant.hours %></h3>
      </div>
    <% end %>
    <% if @restaurant.address %>
      <div class="col-md-2">
        <h3>Address</h3>
      </div>
      <div class="col-md-4">
        <p><%= @restaurant.address %></p>
      </div>
    <% end %>
  </div>

  <div class="top-rated">
    <h1>Top Rated
      <small><%= link_to "Menu >>", {controller: "restaurant", action: "menu", id: @restaurant.id } %></small>
    </h1>
    <div class="row image-tile-row">
      <% numToDisplay = (@foods_by_rating.length < 4) ? @foods_by_rating.length : 4 %>
      <% for i in 0..numToDisplay-1 %>
        <div class="col-md-2">
          <%= @foods_by_rating[i].to_json %>
          <%= render "shared/item_square" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="reviews">
    <h1>Reviews (<%= @num_reviews %>)</h1>

    <% for review in @ratings %>
      <div class="review">
        <div class="col-md-2 left">
          <%= image_tag("test.jpg", :alt => "test", height: "100px", width: "100px") %>
        </div>
        <div class="col-md-10 right">
          <a href="../../food/index/<%=review.ratable.id%>">
            <h2><%= review.ratable.dish_name %></h2>
          </a>
          <p>
            <% for star in 1..review.score %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% for star in review.score+1..5 %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          </p>
          <% if user = User.find_by_id(review.user_id) %>
            <h3>
              Review by <%= link_to "#{user.first_name} #{user.last_name}", 
                {controller: "user", action: "profile", id: user.id } %>
            </h3>
          <% end %>
          <p>"<%= review.comment %>"</p>
        </div>
      </div>
    <% end %>
  </div>

</div>