<div class="item-square">
  <% if dish %>
    <a href="/food/index/<%= dish.id %>">
      <% if dish.pictures[1] == nil then %>
        <%= image_tag('spork.jpg') %>
      <% else %>
        <%= image_tag(dish.pictures[1]) %>
      <% end %>
    </a>
    <div>
      <% for i in (1..4) %>
      <span class="glyphicon glyphicon-star"></span>
      <% end %>
      <span class="item-square-price"><%= dish.price %></span>
    </div>
    <a class="item-link" href="/food/index/<%= dish.id %>"><%= dish.dish_name %></a>
    <div>
      at <a class="restaurant-link" href="/restaurant/show/<%= dish.restaurant_id %>"><%= dish.restaurant.name %></a>
    </div>
  <% end %>
</div>