
You are visiting the profile of:
<%= @user.first_name + ' ' + @user.last_name %>
<img src='http://graph.facebook.com/<%= session[:fb_id] %>/picture?' id="header-fb-pic">
<br>
Here are <%= @user.first_name %>'s reviews:

<% for review in @review_display_info %>
<div>
  <a href="../../food/index/<%=review[4]%>"> <%= review[0] %> </a> at 
  <a href="../../restaurant/show/<%= review[1][1] %>" >
  <%= review[1][0] %> </a>,
  for a score of: <%= review[2] %> =>"<%= review[3] %>"
  <br>
</div>
<% end %>
