<div id="userProfilePage" class="container">
	<div class="row padded">
		<div class="col-md-4">
			<img src='http://graph.facebook.com/<%= @user[:fb_id] %>/picture?height=300' id="prof-pic" class="img-circle" />
		</div>
		<div class="col-md-8" id="name">
			<h1>
				<%= @user.first_name + ' ' + @user.last_name %>
			</h1>
			<small>
				User since: <%= @user.created_at.to_formatted_s(:long_ordinal)%>
			</small>
			<h3>
				<%= @user.first_name %>'s favorite dishes so far:
			</h3>
			<div class="row padded">
			<%for favorite in @favorites %>
				<div class="col-md-3">
					<%= render :partial => "shared/dish_square", :locals => {:dish => Food.find(favorite.ratable_id)} %>
				</div>
			<%end%>
			</div>
		</div>
	</div>

	<% if @reviews.empty? %>
		<div class = "row padded">
		<h2 class="col-md-5">
			No reviews!
		</h2>
		</div>
	<% else %>
		<div class = "row padded">
			<div class = "col-md-5">
				<h2><%= @user.first_name %>'s Reviews: (<%= @reviews.count %>)</h2>
			</div>
		</div>

		<%for review in @reviews %>
			<div class="review">
				<div class ="row">
					<h3>
						<%= link_to "#{review.ratable.dish_name}", controller: "food", action: "index", id: "#{review.ratable.id }" %><br />
						<small>
							at <%= link_to "#{review.ratable.restaurant.name}", controller: "restaurant", action: "index", id: "#{review.ratable.id }" %>
						</small>
					</h3>
            <% for star in 1..review.score %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% for star in review.score+1..5 %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
				</div>

				<div>
					<%= review.comment %>
				</div>
			</div>
		<% end %>
	<%end%>
</div>
