<!DOCTYPE html>
<html>
<head>
  <title>Spork</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
  <%= yield :javascript_includes %> 
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<%= javascript_include_tag "facebook_sdk.js" %>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="application-header">
  <div class="container">
    <a class="navbar-brand" href="/" id="application-header-brand">Spork</a>
    <% if params[:controller] != 'main' && params[:action] != 'index' then %>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Location">
      </div>
    </form>
    <% end %>
    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login-modal" id="app-login-button">
      Log in
    </button>
    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#logout-modal" id="app-logout-button">
      <img src='http://graph.facebook.com/danielnoe10/picture?height=10'>
    </button>
  </div>
</nav>

<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Log in with Facebook to rate dishes</h2>
        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="logout-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>
        <h2>This will also log you out of Facebook.</h2>
      </div>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
